<!DOCTYPE html>

<html lang="en">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<!-- Custom CSS -->
	<link href="style.css" rel="stylesheet">
	<!-- Roboto Font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<head>
		<!-- Theme color -->
		<meta name="theme-color" content="#2C2F33">
		<meta name="msapplication-navbutton-color" content="#2C2F33">
		<meta name="apple-mobile-web-app-status-bar-style" content="#2C2F33">

		<title>Malcolm Diller</title>
	</head>

	<body>
		<div id="main-container">
			<div id="header">
				<h1>Malcolm Diller</h1>
			</div>
			<div id="main-content" class="card-holder">

				<section id="about-me">
					<h2>About Me</h2>
					<p v-if="resume.about_me">
						{{resume.about_me}}
					</p>
				</section>
				
				<div class="double-card card-holder">
					<section id="icon-links">
						<h2>Contact Info</h2>
						<table class="icon-table" v-if="resume.icon_links">
							<tr v-for="icon_link in included_icon_links">
								<td>
									<img class="icon" :src="`data/resume/images/${icon_link.icon}`">
								</td>
								<td>
									<a v-if="icon_link.link" :href="icon_link.link">
										{{icon_link.text}}
									</a>
									<span v-if="!icon_link.link" v-html="textToHTML(icon_link.text)"></span>
								</td>
							</tr>
						</table>
					</section>

					<section id="resume">
						<h2>Resume</h2>
						<p>I've created my resume using HTML/CSS and Javascript, in a way that I can automatically convert it to a PDF. You can see how I did this <a href="https://github.com/mdiller/resume">on GitHub</a>, or click below to view my resume in your preferred format:</p>
						<section>
							<table class="icon-table">
								<tr>
									<td><img class="icon" src="images/pdf.png"></img></td>
									<td><a href="resume/resume.pdf">PDF</a></td>
								</tr>
								<tr>
									<td><img class="icon" src="images/html.png"></img></td>
									<td><a href="resume/resume.html">HTML</a></td>
								</tr>
								<tr>
									<td><img class="icon" src="images/json.png"></img></td>
									<td><a href="resume/resume.json">JSON</a></td>
								</tr>
							</table>
						</section>
					</section>
				</div>

				<h2>Personal Projects</h2>
				<div id="projects" class="card-holder" v-if="resume.projects">
					<section v-for="project in resume.projects">
						<h3>
							<a v-if="project.link" :href="project.link">
								{{project.title}}
							</a>
							<span v-if="!project.link">
								{{project.title}}
							</span>
							<span class="github-link">
								<a :href="project.github">
									View Source
								</a>
							</span>
						</h3>
						<div v-html="jsonToUl(project.bullets)"></div>
						<section v-if="project.description" class="read-more">
							<span @click="expand_readmore($event)">Read More &#9658</span>
							<p>{{project.description}}</p>
						</section>
					</section>
				</div>

				<h2>Work Experience</h2>
				<div id="experience" class="card-holder" v-if="resume.experience">
					<section v-for="job in resume.experience">
						<h3>
							{{job.company}}
						</h3>
						<div class="location-date">
							{{`${job.location} (${job.date_start} - ${job.date_end})`}}
						</div>
						<div v-html="jsonToUl(job.bullets)"></div>
						<section v-if="job.description" class="read-more">
							<span @click="expand_readmore($event)">Read More &#9658</span>
							<p>{{job.description}}</p>
						</section>
					</section>
				</div>

			</div>
		</div>
	</body>

	<script src="lib/vue.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="script.js"> </script>
</html>